<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head(title='Zmiana hasła')}">
    <meta charset="UTF-8">
    <title>Zmiana hasła</title>
</head>
<body>
<nav th:replace="~{fragments::login-navbar}">
</nav>
<main>
    <div class="form container">
        <form th:action="@{/user/change-password}" method="post">
            <label>
                Wprowadź nowe hasło:
                <input type="password" name="newPassword" required>
            </label>
            <button type="submit">Zmień</button>
        </form>
    </div>
    <footer th:replace="~{fragments::footer}">
    </footer>
</main>
</body>
</html>