<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments::head(title='Edycja')}">
    <title>Edycja</title>
<body>
<nav th:replace="~{fragments::login-navbar}">
</nav>
<main>
    <div class="form container">
        <form th:fragment="save-promo-form" method="post" th:action="@{/promo/update}" th:object="${promo}"
              enctype="multipart/form-data">
            <input th:field="*{id}" type="hidden">
            <label>
                Nazwa
                <input th:field="*{name}" type="text" required>
                <p class="error" th:errors="*{name}"></p>
            </label>
            <label>
                Opis
                <textarea class="form-description" th:field="*{description}" required>
        </textarea>
                <p class="error" th:errors="*{description}"></p>
            </label>
            <label>
                Cena:
                <input th:field="*{price}" type="number" min="0.00" placeholder="99.99" step="0.01" required>
                <p class="error" th:errors="*{price}"></p>
            </label>
            <label>
                Link do promocji
                <input th:field="*{urlAddress}" type="url" required>
                <p class="error" th:errors="*{urlAddress}"></p>
            </label>
            <label th:field="*{category}" th:replace="~{fragments::category}">
                Kategoria
            </label>
            <label>
                Dodaj zdjęcie
                <input type="file" th:field="*{imageFilename}"/>
                <p class="error" th:errors="*{imageFilename}"></p>
            </label>
            <button type="submit">Zapisz</button>
        </form>
    </div>
</main>

<footer th:replace="~{fragments::footer}">
</footer>

</body>

</html>