<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head(title='DealSpotter - promocje')}">

</head>
<body>
<nav th:replace="~{fragments::navbar}">
</nav>
<main>
    <div class="menu">
        <a th:each="categoryType: ${T(pl.dk.dealspotter.category.CategoryType).values()}"
           th:href="${'/category/' + categoryType.description.toLowerCase()}">
            <span th:text="${categoryType.description}">Nieruchomości</span>
        </a>
    </div>

    <div class="container">
        <article class="discovery" th:each="promo: ${list}" th:object="${promo}">
            <div >
                <a href="#" th:href="@{|/promo/*{id}|}">
                    <img th:src="*{imageFilename ne null} ? @{|/*{imageFilename}|} : @{/empty-image.png}"
                         alt="tytuł promocji"
                         class="promo-list-item-poster"/>
                </a>
            </div>
            <section class="description">
                <a th:href="@{|/promo/*{id}|}">
                    <h2 class="discovery-header" th:text="*{name}"></h2>
                </a>
                <p class="discovery-details" th:text="|Dodane prze: *{userDto.firstName},data dodania: *{#temporals.format(localDateTime, 'dd-MM-yyyy HH:mm')}|">Dodane przez: Mietek, data dodania: 22/01/2015</p>
                <a href="#" class="discovery-link" th:href="*{urlAddress}">Idź do okazji</a>
                <p  th:text="*{description}">cursus in hac habitasse platea dictumst quisque sagittis purus sit amet volutpat
                    consequat mauris nunc congue
                    nisi vitae suscipit tellus mauris a diam maecenas sed enim ut sem viverra aliquet</p>
                <p class="" th:text="|Cena: *{price}|">Cena</p>

                <section class="discovery-bar">
                    <a href="#" class="discovery-link upvote">
                        <i class="fas fa-arrow-alt-circle-up discovery-upvote"></i>
                    </a>
                    <p class="discovery-votes">32</p>
                    <a href="#" class="discovery-link downvote">
                        <i class="fas fa-arrow-alt-circle-down discovery-downvote"></i>
                    </a>
                </section>
            </section>


        </article>

    </div>
</main>
<footer th:replace="~{fragments::footer}"></footer>
</body>
</html>