<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head(title= ${category.toUpperCase()})}">
</head>
<body>
<div class="container">
    <nav th:replace="~{fragments::navbar}">
    </nav>
    <article class="discovery" th:each="promo: ${list}" th:object="${promo}">
        <div>
            <a href="#" th:href="@{|/promo/*{id}|}">
                <img src="../static/img/empty-image.png"
                     alt="tytuł promocji"
                     class="promo-list-item-poster">
            </a>
        </div>
        <a th:href="@{|/promo/*{id}|}">
            <h2 class="discovery-header" th:text="*{name}"></h2>
        </a>
        <p class="discovery-details">Dodane przez: Mietek, Dnia: 22/01/2015</p>
        <a href="#" class="discovery-link" th:href="*{urlAddress}">Idź do okazji</a>
        <p th:text="*{description}">cursus in hac habitasse platea dictumst quisque sagittis purus sit amet volutpat
            consequat mauris nunc congue
            nisi vitae suscipit tellus mauris a diam maecenas sed enim ut sem viverra aliquet</p>
        <p th:text="|Cena: *{price}|">Cena</p>
        <section class="discovery-bar">
            <a href="#" class="discovery-link upvote">
                <i class="fas fa-arrow-alt-circle-up discovery-upvote"></i>
            </a>
            <p class="discovery-votes">32</p>
            <a href="#" class="discovery-link downvote">
                <i class="fas fa-arrow-alt-circle-down discovery-downvote"></i>
            </a>
        </section>
    </article>


</div>
<footer th:replace="~{fragments::footer}">
</footer>

</body>
</html>