<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head(title =*{name})}">

</head>
<body th:object="${promo}">
<nav th:replace="~{fragments::navbar}">
</nav>
<div class="container">
    <h2 th:text="*{name}"></h2>
    <p th:text="*{description}">Opis</p>
    <img class="image" th:src="*{imageFilename ne null} ? @{|/*{imageFilename}|} : @{/empty-image.png}"/>
    <button type="submit" class="search-button">
        <a th:href="*{urlAddress}" target="_blank" ref="noreferrer noopener">Idź do okazji</a>
    </button>

</div>

<footer th:replace="~{fragments::footer}"></footer>
</body>
</html>
