<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head(title ='Oferty')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{fragments::login-navbar}">
</nav>
<main>
    <div class="container styled-table">
        <h2 class="list-heading">Lista ofert</h2>
        <table class="styled-table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Dodano</th>
                <th scope="col">Edycja</th>
                <th scope="col">Usuwanie</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="promo: ${promoList}" th:object="${promo}">
                <td th:text="*{id}">1</td>
                <td th:text="*{name}">Nazwa</td>
                <td th:text="*{#temporals.format(added, 'dd-MM-yyyy HH:mm')}">Data dodania</td>
                <td><a class="edit" th:href="|/promo/edit/*{id}|">Edytuj</a></td>
                <td><a class="delete" th:href="|/user/promo/delete/*{id}|">Usuń</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="~{fragments::footer}"></footer>
</main>
</body>
</html>